Nombre   <input type="text" id="nombre_set" value=<%=nombre%>><br>
Apellido <input type="text" id="apellido_set" value=<%=apellido%>><br>
Usuario  <input type="text" id="usuario_set" value=<%=usuario%>><br>
Password <input type="password" id="password_set" value=<%=password%>><br><br>
<button id="add_button">Añadir usuario</button>
<button id="close_form_btn">cerrar formulario</button>
<br><br>
